body {
  margin: 0;
  font-family: "LXGW WenKai TC", cursive;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-family: "LXGW WenKai Mono TC", monospace;
}

/* .lxgw-wenkai-tc-regular {
  font-family: "LXGW WenKai TC", cursive;
}

.m-plus-rounded-1c-regular {
  font-family: "M PLUS Rounded 1c", sans-serif;
} */

li {
  list-style: none;
  line-height: 30px;
  font-size: middle;
}

#header {
  width: 100%;
  height: 60px;
  position: fixed;
  background: white;
}

#header table {
  width: 98%;
  margin: 13px;
  font-size: 23px;
}

/* #header table td {
  background: lightgoldenrodyellow;
} */

.mark {
  width: 20px;
  padding: 0 15px;
  text-align: center;
}

.mark:hover {
  cursor: pointer;
}

.ytmark {
  width: 193px;
  padding: 0 0 0 15px;
  text-align: left;
  /* background: yellow; */
}

.ytmark:hover {
  cursor: pointer;
}

.ytmark sup {
  font-size: 15px;
  color: gray;
}

.searchbox {
  width: 600px;
  border: 1px solid lightgray;
  border-radius: 30px 0 0 30px;
  color: lightgray;
  font-size: 20px;
  margin: auto;
}

.search {
  width: 60px;
  border: 1px solid lightgray;
  border-radius: 0 30px 30px 0;
  background: rgb(223, 220, 220);
  font-size: 20px;
  text-align: center;
}

.search:hover {
  background: lightgray;
  cursor: pointer;
}

.mic {
  width: 30px;
  height: 30px;
  background: lightgray;
  border: 1px solid lightgray;
  border-radius: 50%;
  text-align: center;
  padding: 5px;
}

.mic:hover {
  background: rgb(183, 182, 182);
  cursor: pointer;
}

.admin {
  width: 80px;
  border: 1px solid lightgray;
  border-radius: 30px;
  font-size: 16px;
  text-align: center;
  color: blue;
}

.admin:hover {
  cursor: pointer;
  background: lightskyblue;
}

#leftsidebar {
  width: 13%;
  height: calc(100vh - 60px);
  position: fixed;
  left: 0;
  top: 60px;
  overflow-y: scroll;
  overflow-x: hidden;
  /* background: lightblue; */
}


#leftsidebar tr:hover {
  /* background: lightgray; */
  cursor: pointer;
}


.index {
  margin: 15px 0 15px 0;
  padding: 0 0 20px 15px;
  border-bottom: 1px solid lightgray;
  width: 100%;
}

.icon {
  margin: 10px;
  padding: 5px 7px 5px 7px;
  font-size: large;
  text-align: center;
}

.smalltitle {
  padding: 10px 70px 10px 18px;
}

.personal {
  margin: 15px 0 15px 0;
  padding: 0 0 15px 15px;
  border-bottom: 1px solid lightgray;
  width: 100%;
}

.login {
  margin: 15px 0 15px 0;
  padding: 0 15px 20px 30px;
  border-bottom: 1px solid lightgray;
}

.loginbotton {
  font-size: medium;
  border: 1px solid lightgray;
  border-radius: 30px;
  width: 80px;
  height: 35px;
  text-align: center;
  color: blue;
  line-height: 35px;
}

.loginbotton:hover {
  border: 1px solid lightskyblue;
  background: lightskyblue;
  cursor: pointer;
}

.explore {
  margin: 15px 0 15px 0;
  padding: 0 0 20px 12px;
  border-bottom: 1px solid lightgray;
  width: 100%;
}

.exploretitle {
  text-indent: 23px;
  /* padding: 0 0 6px 14px; */
  font-size: 18px;
}

.youtube {
  margin: 15px 0 15px 0;
  padding: 0 0 20px 15px;
  border-bottom: 1px solid lightgray;
  width: 100%;
}

.middletitle {
  text-indent: 23px;
  font-size: 18px;
}

.youtube .smalltitle {
  padding: 5px 70px 5px 18px;
  font-size: 15px;
}

.setting {
  margin: 15px 0 15px 0;
  padding: 0 0 20px 15px;
  border-bottom: 1px solid lightgray;
  width: 100%;
}

.others {
  margin: 15px 0 0 0;
  padding: 0 0 15px 25px;
  font-size: 14px;
  color: gray;
}

.others p:hover {
  cursor: pointer;
}

#copyright {
  margin: 0 0 15px 0;
  padding: 0 0 10px 25px;
  font-size: small;
  color: gray;
}

#menubox {
  width: 87%;
  height: 65px;
  position: fixed;
  right: 0;
  top: 60px;
  background: white;
}

.menu {
  margin: 10px;
  padding: 5px;
  overflow: hidden;
  margin-left: 10px;
}

.menu-item-active {
  list-style: none;
  line-height: 25px;
  font-size: medium;
  float: left;
  border: 1px solid black;
  border-radius: 10px;
  margin: 4px 7px 4px 7px;
  padding: 3px 10px 3px 10px;
  background: black;
  color: white;
}

.menu-item {
  list-style: none;
  line-height: 28px;
  font-size: medium;
  float: left;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 4px 7px 4px 7px;
  padding: 3px 10px 3px 10px;
  background: lightgray;
}

.menu-item:hover {
  cursor: pointer;
  background: grey;
}

#rightcontent {
  width: 86%;
  /* background: lightcyan; */
  margin-left: 290px;
  padding-top: 145px;
}

#card {
  width: 18.8%;
  height: 380px;
  /* background: lightgoldenrodyellow; */
  display: inline-block;
  margin: 6px;
  padding: 0px;
}

#card .img {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

#card .circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
}

.tdcircle {
  width: 30px;
  height: 30px;
  padding: 5px 0 0 0;
}

#card table {
  width: 100%;
  cursor: pointer;
  /* background: rebeccapurple; */
}

/* #card table td {
  border: 1px solid #333;
} */

.cardname {
  font-size: medium;
  font-weight: 500;
  padding: 0 0 0 5px;
  /* height: 55px;
  text-align: left; */
}

.cardtext {
  font-size: smaller;
  color: gray;
  padding: 0 0 0 5px;
}